* {
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
}



/*Navigation bar background*/
.topnav{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
    margin-left: 10px;
}

/*Amazon Logo*/
#logo{
    background-image: url(./images/amazon-logo.png);
    height: 50px;
    width: 114px;
    background-size: cover;
    transform: scale(1.05);
    /* margin-left: 11px; */
}

/*Border Outline*/
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
}

/*Delivery Location*/
.deliver-to{
    
    height: 50px;
}

#delv-to{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 20px;
}

#country{
    color: #FFFFFF;
    font-size: 1rem;
}

.deliver-to-country{
    display: flex;
}

/*Navigation bar Searching components*/
.nav-search-components{
    width: 500px;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    margin-left: 2%;
}

/*Search category*/
.product-category{
    color: gray;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.category-option{
    color: black;
    text-align: left;
}

/*Search bar*/
.search-bar{
    color: gray;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    padding-left: 10px;
}

/*Search icon*/
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    width: 45px;
    background-color: #FEBD68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*language selection*/
.select-language{
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
}

/*Country logo*/
.country-flag{
    background-image: url(./images/us-flag.png);
    background-size: cover;
    height: 15px;
    width: 20px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

/*Language name*/
.select-language{
    height: 40px;
    width: 70px;
    display: flex;
}

.--language{
    font-weight: bold;
    margin-bottom: 3px;
}

/*Account | sing-in / login*/
/*Top text*/
.top-text{
    font-size: 0.8rem;
}

/*Bottom text*/
.bottom-text{
    font-size: 1rem;
    font-weight: 700;
}