* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;

}

.log-outline{
    border: 3px solid black;
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-great{
    display: block;
}